.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-link > * {
  margin: 8px 24px;
}

.profile-link p {
  color: black;
  font-size: 20px;
}

.profile-link p:hover {
  font-weight: bold;
  text-decoration: underline;
}