.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons-container button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}