.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: solid 1px black;
  border-radius: 30px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding-bottom: 12px;
}

.form {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form * {
  margin: 8px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.inputs-container input {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

.form button {
  width: 80px;
  padding: 4px;
  border-radius: 100px;
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
}

.form button:hover {
  color: rgba(255, 255, 255, 1);
}

.details-container {
  text-align: center;
  width: 100%;
  min-height: 250px;
}