.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: solid 1px black;
  border-radius: 30px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.details-container {
  text-align: center;
  width: 100%;
  min-height: 250px;
}