.navbar {
  height: 6vh;
  width: 100%;
  border: solid 1px black;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar
ul
li {
  margin-left: 8px;
  margin-right: 8px;
  list-style-type: none;
}