@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar {
  height: 6vh;
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar * {
  user-select: none;
}

.navbar ul {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar
ul
li {
  margin-left: 8px;
  margin-right: 8px;
  list-style-type: none;
}

.navbar li > * {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border-radius: 100px;
}

.navbar li > *:hover {
  color: white;
  font-weight: bold;
  background-color: black;
}

.navbar .active {
  color: white;
  font-weight: bold;
  background-color: black;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}