.avatar-border {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nested-border {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.nested-border h1 {
  color: white;
  user-select: none;
}

.profile-photo {
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
  user-select: none;
}