h1 {
  text-align: center;
}

.page-component-container {
  margin: 0;
  min-height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 6vh;
}